# Directories
.vs/
x64/
bin/intermediates/
bin/Win32/
bin/x64/
OpenGL_Renderer/OpenGL_Renderer/res/models/
OpenGL_Renderer/OpenGL_Renderer/res/textures/


# Files
*.user
*.obj
*.fbx
*.jpg
*.jpeg
*.png
*.tga
*.hdr
*.rar